<div class="row">
  <div class="col-md-12">
    <h3>My courses</h3>
  </div>
  <div class="col-md-12">
    <div class="list-group">
      <a ui-sref="index.account.course({courseId: 1})" class="list-group-item">
        <h4 class="list-group-item-heading">
          Aplicatii Web cu suport Java
          <span class="pull-right">
            <span class="label label-primary">2016-2017</span>
            <span class="label label-success">Enrolled</span>
          </span>
        </h4>
        <p class="list-group-item-text">
          Cursul este alcatuit din urmatoarele componente:
          Spring(Java), AngularJS(Javascript), utilitarul Git(GitHub),
          elemente de HTML si CSS(Twitter Bootstrap).
        </p>
      </a>
    </div>
  </div>
</div>
