<div class="row">
  <div class="col-md-12">
    <h3>Profile</h3>
  </div>
  <div class="col-md-8">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="col-lg-3 control-label">Gravatar</label>
          <div class="col-lg-9">
            <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=80" class=" img-rounded">
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail" class="col-lg-3 control-label">Email</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="inputEmail" placeholder="first.last@example.com" disabled="">
          </div>
        </div>

        <div class="form-group">
          <label for="inputFirstName" class="col-lg-3 control-label">First name</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="ex. John">
          </div>
        </div>

        <div class="form-group">
          <label for="inputLastName" class="col-lg-3 control-label">Last name</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="ex. Branch">
          </div>
        </div>

        <div class="form-group">
          <label for="githubUsername" class="col-lg-3 control-label">Github User</label>
          <div class="col-lg-9">
            <input type="text" class="form-control" id="githubUsername" placeholder="ex. sarbull">
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Info panel</h3>
      </div>
      <div class="panel-body">
        <p>We use <a href="https://en.gravatar.com/">Gravatar</a>
        for the user's profile picture, 
        you can set it up by creating an account with your email address.</p>
      </div>
    </div>
  </div>
</div>
