<div class="row" ng-controller="usersCoursesController">
  <div class="col-md-12" ng-if="dataIsLoaded">
    <h3>
      {{ course.title }}
      <span class="pull-right">
        <span class="label label-primary">{{ course.years }}</span>
        <span ng-if="course.isUserEnrolled" class="label label-success">Enrolled</span>
      </span>
    </h3>
    <p>{{ course.description }}</p>

    <h3>Timeline</h3>

    <div class="list-group">
      <a ng-click="openLesson(1)" class="list-group-item">
        <h4 class="list-group-item-heading">
          Cursul 1
          <span class="pull-right">
            <span class="label label-success">+1</span>
          </span>
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus, libero illo reiciendis qui non suscipit officiis voluptates doloribus totam.
        </p>
      </a>

      <a ng-click="openLesson(2)" class="list-group-item">
        <h4 class="list-group-item-heading">
          Cursul 2
          <span class="pull-right">
            <span class="label label-danger">+0</span>
          </span>
        </h4>
        <p class="list-group-item-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellendus, libero illo reiciendis qui non suscipit officiis voluptates doloribus totam.
        </p>
      </a>
    </div>
  </div>
</div>
