<div class="row" ng-controller="accountsCoursesLessonsController">
  <div ng-if="dataIsLoaded">
    <div class="col-md-12">
      <h3>
        {{ lesson.title }}
        <span class="pull-right">
          <span ng-if="lesson.attended < 10" class="label label-warning">{{ lesson.attended }} attended</span>
          <span ng-if="lesson.attended >= 10 && lesson.attended <= 30" class="label label-primary">{{ lesson.attended }} attended</span>
          <span ng-if="lesson.attended > 30" class="label label-success">{{ lesson.attended }} attended</span>
          <span class="label label-default">Lesson</span>
          <span ng-if="lesson.userAttendance > 0" class="label label-success">+1</span>
          <span ng-if="lesson.userAttendance == 0" class="label label-warning">+0</span>
          <span ng-if="lesson.userAttendance < 0" class="label label-danger">-1</span>
        </span>
      </h3>
      <p>{{ lesson.description }}</p>
    </div>

    <div class="col-md-12" ng-if="lesson.userAttendance == 0">
      <h3>Attendance</h3>
      <form ng-submit="addAttendance()" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <div class="col-md-10">
              <input class="form-control input-lg" ng-model="attendance" id="inputCode">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-md-12">
      <h3>Files</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>curs1.pdf</td>
            <td class="pull-right"><button class="btn btn-success btn-xs">Download</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12">
      <h3>Comments</h3>
      <div class="media" ng-repeat="comment in lesson.comments">
        <div class="media-left">
          <img class="media-object" src="https://www.gravatar.com/avatar/{{ comment.gravatar }}?s=60">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{ comment.fullName }}
            <span class="pull-right">
              <small>{{ comment.date | date:'h:mma, d MMMM y' }}</small>
            </span>
          </h4>
          <p>{{ comment.content }}</p>
        </div>
      </div>

      <h3>Add comment</h3>
      <form ng-submit="addComment()" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <div class="col-md-10">
              <input class="form-control" ng-model="newComment.content" id="inputComment">
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
